.small-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: fit-content;
    background-color:  var(--primary);
    border-radius: 10px;
    padding: 10px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.movie-title-small-card {
    font-size: 20px;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    text-align: left;
}

.underline {
    border-bottom: 1px solid white;
}

ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.close-circle {
    height: 35px;
    width: 35px;
}



.big-card {
    background-color: white;
    border-radius: 10px;
    height: 350px;
    width: 325px;
}

.clapboard {
    position: absolute;
}

.clapboard-top {
    transform: rotate(-15deg);
    height: 40px;
    position: relative;
    top: -36px;
    left: -8px;
}

.big-card p {
    color: #000;
}

.sizes {
    background-color: var(--primary);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    height: 80px;
}

.sizes p {
    margin: 5px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

.align-bot {
    align-self: end;
}

.big-card-title {
    padding: 15px;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}