.small-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: fit-content;
    background-color:  var(--primary);
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sizes:hover {
    filter: blur(1px) brightness(0.4);
    cursor: pointer;
}

.sizes-container {
    position: relative;
}

.movie-title-small-card {
    font-size: 20px;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    text-align: left;
}

.underline {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    margin-left: 30px;
}

.close-circle {
    height: 35px;
    width: 35px;
}

.big-card {
    background-color: white;
    border-radius: 10px;
    height: 350px;
    width: 325px;
    margin-top: 100px;
}

.clapboard {
    position: relative;
}

.clapboard-top {
    transform: rotate(-15deg);
    height: 40px;
    position: absolute;
    top: 20px;
    left: -8px;
}

.big-card p {
    color: #000;
}

.sizes {
    background-color: var(--primary);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    height: 80px;
    transition: all 0.3s;
}

.sizes p {
    margin: 5px;
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

.align-bot {
    align-self: end;
}

.big-card-title {
    padding: 15px;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.plus {
    width: 25px;
    height: 25px;
    padding-left: 10px;
}

.minus {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.small-minus {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.food-container {
    display: flex;
    justify-content: space-around;
}

.your-order {
    font-size: 20px;
}

.food-img {
    mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 0.5%,
    rgba(0, 0, 0, 1) 45%,
    rgba(0, 0, 0, 0) 90.5%
  );
}

.your-order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-movie-card {
    height: 300px;
}

.add-item {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 40px;
    height: 40px;
}