.moviesHeader {
  text-align: left;
  margin-left: 20px;
}

.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 100px;
  margin: auto;
}

.movieCard {
  height: 420px;
  width: 250px;
  background-color: white;
  border-radius: 10px;
  color: black;
  text-align: left;
  padding: 20px;
  overflow: hidden;
  transition: 0.3s;
}
.movieCard:hover .movieImg{
  height: 0%;
  opacity: 0;
}
.movieCard:hover{
  transform: scale(1.1);
  background-color: var(--primary);
  color: white;
}
.movieCard .detailsBtn{
  border: 1px solid white;
}
.movieCard .desc{
  max-height: 250px;
  overflow-y: auto;
}
.movieTitle {
  margin-top: 0px;
}

.movieData {
  margin-top: -45px;
  display: flex;
  justify-content: space-between;
}

.detailsBtn {
  padding: 10px 20px;
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}

.detailsBtn:hover {
  scale: 1.1;
}

.btn {
  display:  flex;
  align-items: center;
  justify-content: center;
}

.movieImg {
  height: 90%;
  width: 100%;
  margin: 0px;
  border-radius: 5px;
  z-index: -1;
  transition: 0.5s;
}

.bigMovieCard {
  width: 500px;
  height: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: black;
  text-align: left;
  padding: 20px;
}

.bigMovieImg {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  border-radius: 10px;
}
.bigMovieCard .movieTitle{
  margin-top: 30px;
}
.showDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  margin-top: 0px;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
}

.closeDiv {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.close {
  position: absolute;
  height: 50px;
  width: 50px;
}
.close-invert {
  position: absolute;
  height: 50px;
  width: 50px;
  filter: invert(1);
}