.order-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--primary);
    position: absolute;
}

.final-order-container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.clapboard {
    position: relative;
}

.clapboard .infos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 160px;
    left: 40px;

}

.orderDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    left: 40px;

}

.qr {
    position: relative;
    top: 70px;
}