.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.myReview {
    background-color: var(--primary);
    border-radius: 10px;
    color: white;
    padding: 10px;
    height: 150px;
}

.myReview p {
    margin: 5px;
}

.seenMovieTitle {
    margin: 0px;
}

.seenMovieCard {
    height: 500px;
}

.seenDetailsBtn {
    margin-top: 20px;
}